.first-section{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-image: url(/images/mobile/image-header.jpg);
    background-size: cover;
    background-position: bottom center;
    height: 100vh;
    width: 100vw;
    
  
    
  
  
}

.text{
   
    line-height: 3rem;
    letter-spacing:0.5rem;
    text-transform: uppercase;
    color:$White;
    font-weight: $fraunces-large-weight;
    font-size: 2.5rem;
    font-family: $fraunces;
    z-index: 2;
    
}

.logo-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // height: 90vh;
    flex-grow: 1;
    
    padding: 0.5rem;
}

.arrow-down{
    
    margin-top:0.5rem;
    font-weight: $barlow;
    z-index: 1;
    margin-top: 3rem;
    
}
.contact{
    color: $Dark-blue;
}

// media queries go to  _nav-bar 