 
 .transform {
    //  width: 100%;
     min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.transform-box {
    display: flex;
    flex-direction: column-reverse;
}
.box1  , .box2{

  text-align: center;
  padding: 2.5rem;
  

}

.egg , .glass , #cherry , #orange{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 35rem;
}
 main .egg{
    order: 1;

 background-image:  url(/images/mobile/image-transform.jpg);

}
 main .glass{
    order: 1;
    background-image:  url(/images/mobile/image-stand-out.jpg);
}
.transform-text{
    
font-family: $fraunces;
text-align: center;
font-size: 2rem;
margin-bottom: 1rem;
margin-top: 1rem;
color: $Very-dark-desaturated-blue;
}
.info{
   
    text-align: center;
    line-height: 1.8rem;
    color: $Grayish-blue;
    font-family: $barlow;
    font-weight:$barlow-weight ;
}

.more .info , .transform-text {
    color:$Dark-blue ;
}
.link-transform{
    font-size: 1.2rem;
    text-transform: uppercase;
    font-family: $fraunces;
  color: $Very-dark-desaturated-blue;
  text-decoration: underline;
  text-decoration-color: $Yellow;
  text-decoration-thickness: 0.1rem;
  cursor: pointer;
  
}
.link-transform:hover{
    text-decoration-thickness: 0.3rem;
}

.box2 .link-transform{
    text-decoration-color: $Soft-red;
}

#cherry{
    background-image: url(/images/mobile/image-graphic-design.jpg);
    order: 1;
    // background-position: center bottom;
}
#orange{
    background-image: url(/images/mobile/image-photography.jpg);
}
#cherry , #orange{
    background-position: center ;
        background-repeat: no-repeat;
        background-size: cover;
        
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
       
}
.more{
    display: flex;
    flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;

    margin-top: 20rem;
    
}
@media only screen and (min-width:768px){
   main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "a","b","c",'d';
    
   }
.transform-box{
    display: grid;
    grid-template-areas: "a","b","c",'d';
    
}

#cherry{
    grid-area: 1;
   
}
.box3 .transform-text{
    text-align: center;
}
.box4 .transform-text{
    text-align: center;
}
.box3 .info{
    text-align: center;
}
.box4 .info{
    text-align: center;
}
.glass{
    grid-area: 1;
}


  .box1 , .box2 {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
  }
    .transform-text , .info , .link-transform{
        width: 70%;
        text-align: start;
    
  
    }
   
    .transform-text{
       font-size: 2.5rem;
       font-weight: $fraunces-large-weight;
       padding-right: 1rem;
      
    }
    .transform-box {
   
    display: grid;
  
    grid-template-columns: repeat(2, minmax(250px, 1fr));
       width:100vw;
       
    }
    
    .egg{
      
        background-image: url(/images/desktop/image-transform.jpg);

    }
    .egg , .glass ,#orange , #cherry{
        background-position:center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 38rem;
    }
    .glass{
      
        background-image: url(/images/desktop/image-stand-out.jpg);
        order: 1;
        
    }
    .transform-box .more{
    text-align: center;
     align-items: center;
    }

}
